.cart {
  display: flex;
}

.cart-items {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
  width: 40vw;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-top: 10px;
  padding: 0 20px;
}

.cart-item img {
  height: 100px;
}

.cart-item p {
  margin: 0 50px;
}

.clickable-item-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cart-details {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
}

.cart-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
