.search-container {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}

.search-container label {
  display: none;
}

.search-container input {
  width: 100%;
  grid-column: 1;
}

#searchValue {
  margin: 0 auto;
  width: 95%;
  grid-column: 1;
}

.search-container button {
  width: 80%;
  grid-column: 2;
}

.search-container i {
  font-size: 26px;
  grid-column: 3;
}
