.product-details {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  height: 80%;
  width: 80%;
}

.name-image {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.name-image h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 800;
}

.name-image img {
  margin-top: 50px;
  height: 500px;
}

.details-price {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.details-price p {
  margin-top: 40px;
  font-size: 18px;
}

.details-price button {
  width: 50%;
}
