.App {
  background-color: #fffaf0;
  font-family: 'Rambla', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

button {
  font-family: 'Rambla', sans-serif;
}

.sidebar {
  overflow-y: scroll;
  width: 20%;
  border-right: 1px solid black;
}

.main {
  overflow-y: scroll;
  width: 80%;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  height: 50%;
  width: 40%;
  align-items: center;
  border: solid 1px #555;
  background-color: #fffaf0;
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

label {
  font-size: 24px;
  margin: 20px 0;
}

.input {
  background-color: #fffaf0;
  border-radius: 5px;
  font-size: 20px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  width: 250px;
  height: 25px;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='password']:focus {
  outline: none;
}

@media (max-width: 1740px) {
  .sidebar {
    width: 25%;
  }
  .main {
    width: 75%;
  }
}

@media (max-width: 1500px) {
  .sidebar {
    width: 30%;
  }
  .main {
    width: 70%;
  }

  .form {
    width: 50%;
  }
}

@media (max-width: 1300px) {
  .App {
    flex-direction: column;
  }
  .sidebar {
    display: none;
  }
  .main {
    width: 100%;
    height: 100%;
  }
  .navbar {
    display: block;
  }
}

@media (max-width: 900px) {
  .form {
    margin-top: 40px;
    width: 60%;
    height: 80%;
  }

  label {
    font-size: 24px;
    margin: 20px 0;
  }
}

@media (max-width: 700px) {
  .form {
    width: 80%;
  }

  label {
    font-size: 20px;
    margin: 30px 0;
  }
}

@media (max-width: 500px) {
  .form {
    width: 90%;
  }

  label {
    font-size: 20px;
    margin: 30px 0;
  }
}
